body {
  width: 60em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

section {
  padding: 2em;
  margin: 1em;
  order: 3;
}

#green {
  background-color: #baffc9;
}

#orange {
  background-color: #ffdfba;
  flex-grow: 1;
}

#yellow {
  background-color: #ffffba;
  order: 1;
}

#red {
  background-color: #ffb3ba;
  order: 2;
}

#blue {
  background-color: #bae1ff;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
